@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.text-center {
  text-align: center;
}

.text-style {
  font-size: 14px;
  color: #787878;
}

/**header---------------------------------------------------------------------------------------------------*/
.header {
  height: 110px;
  border-bottom: 1px solid #e4e4e4;
}
.container {
  max-width:  1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 15px 0px 15px;
}
.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.nav {
  display: flex;
  font-size: 15px;
}
.nav-list {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 15px;
}
.nav-item:not(:last-child) {
  padding: 0px 50px 0px 0px;
}
.nav-link {
  color: #000;
}
.nav-link:hover {
  color: #3172b9;
}
.btn {
  display: inline-block;
  background-color: #3172b9;
  color: #fff;
  padding: 20px 35px 20px 35px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color .3s ease;
}
.btn:hover {
  background-color: #4086d3;
}
.btn-header {
  margin-left: 150px;
}
/**header--------------------------------------------------------------------------------------------------*/

/**section-one---------------------------------------------------------------------------------------------*/
.one-container {
  padding: 120px 15px 130px 15px;
  margin-bottom: 200px;
}
.section-one {
  background-image: url('../img/bg/Base.jpg');
  background-position: right center;
  background-repeat: no-repeat;
}
.one-content {
  max-width: 500px;
}
.section-one-heading {
  margin: 0px 0px 30px 0px;
  font-size: 40px;
  font-weight: 300;
}
.section-one-discription {
  font-size: 16px;
  color: #787878;
  line-height: 25px;
  margin-top: 0;
  margin-bottom: 35px;
}
.section-one-active {
  display: inline-block;
}
.section-one-btn-discription {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0px 0px 0px;
  font-size: 11px;
  color: #787878;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}
.section-one-btn-discription-icon {
  display: inline-block;
  width: 13px;
  height: 17px;
  margin-right: 10px;
  background-image: url('../img/icon/Shield-icon.svg');
  background-size: contain;
}
/**section-one---------------------------------------------------------------------------------------------*/

/**section-do---------------------------------------------------------------------------------------------*/
.section-do {
  border-bottom: 1px solid #e4e4e4;
}
.section-heading {
  font-size: 36px;
  font-weight: 300;
  margin: 0px 0px 30px 0px;
}
.section-discription {
  font-size: 16px;
  color: #787878;
  font-weight: 400;
}
.section-do-list {
  display: flex;
  margin: 50px 0px 0px 0px;
  padding: 0px 0px 200px 0px;
}
.section-do-item {
  flex: 1 1 25%;
  padding: 60px 30px;
  text-align: center;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  transition-property: background-color, color;
  transition-duration: .3s;
  transition-timing-function: ease;
}
.section-do-item:hover {
  background-color: #4086d3;
  cursor: pointer;
  color: #fff;
}
.section-do-item:not(:last-child) {
  margin: 0px 30px 0px 0px;
}
.section-do-heading {
  margin-top: 30px;
  display: block;
  font-size: 20px;
  font-weight: 600;
}
.section-do-item:hover .section-do-discription {
  color: #fff;
}
.section-do-discription {
  font-size: 14px;
  color: #787878;
  transition: color .3s ease;
}
.section-do-icon path {
  transition: color .3s ease;
}
.section-do-item:hover .section-do-icon path {
  fill: #fff;
}
/**section-do---------------------------------------------------------------------------------------------*/

/**section-reviews---------------------------------------------------------------------------------------------*/
.section-reviews {
  border-bottom: 1px solid #e4e4e4;
  padding: 100px 0px 160px 0px;
}
.section-reviews-list {
  display: flex;
}
.section-reviews-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 50%;
  padding: 50px 30px;
  border: #e4e4e4 1px solid;
  border-radius: 5px;
}
.section-reviews-item:not(:last-child) {
  margin: 0px 30px 0px 0px;
}
.section-reviews-review {
  padding-bottom: 40px;
  line-height: 1.5;
}
.section-reviews-user {
  display: flex;
  align-items: center;
  border-top: 1px solid #e4e4e4;
  padding-top: 30px;
}
.section-reviews-user-avatar {
  width: 60px;
  height: 60px;
  border: #3172b9 2px solid;
  border-radius: 50%;
  margin-right: 15px;
}
.section-reviews-user-name {
  font-size: 17px;
  font-weight: 600;
}
.section-reviews-user-discription {
  color: #c0c0c0;
}
/**section-one---------------------------------------------------------------------------------------------*/

/**section-contacts---------------------------------------------------------------------------------------------*/
.section-contacts {
  padding: 65px 0px 160px 0px;
  border-bottom: 1px solid #e4e4e4;
}
.section-contacts-list {
  display: flex;
  margin-top: 85px;
}
.section-contacts-item {
  max-width: 250px;
  flex: 1 1 33.33%;
}
.section-contacts-item:not(:last-child) {
  margin-right: 100px;
}
.section-contacts-icon {
  display: block;
  height: 26px;
  margin-bottom: 25px;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: auto 100%;
  background-color: transparent;
}
.section-contacts-icon-gps {
  background-image: url('../img/icon/gps.png');
}
.section-contacts-icon-phone {
  background-image: url('../img/icon/phone.png');
}
.section-contacts-icon-mail {
  background-image: url('../img/icon/mail.png');
  background-size: auto 20px;
}
.section-contacts-info {
  line-height: 1.5;
  margin-top: 45px;
}
/**section-contacts---------------------------------------------------------------------------------------------*/

/**section-form---------------------------------------------------------------------------------------------*/
.section-started {
  border-bottom: 1px solid #e4e4e4;
}
.section-started-container {
  padding: 120px 55px 118px 55px;
}
.section-started-form {
  margin-top: 60px;
}
.started-form {
  font-weight: 300;
  border: 1px solid;
  border-radius: 30px;
  border-color: #dadada;
  width: 250px;
  padding: 25px 30px;
}
.started-form:not(:last-child) {
  margin-right: 19px;
}
.input::placeholder {
  color: #9a9a9a;
}
.started-form-btn {
  border-radius: 30px;
  width: 230px;
  padding: 25px 30px;
  text-transform: uppercase;
  background-color: #3172b9;
  color: #fff;
  border: none;
  margin-left: 32px;
}

/**section-form---------------------------------------------------------------------------------------------*/

/**footer---------------------------------------------------------------------------------------------*/
.footer {
  height: 125px;
  padding-top: 40px;
  padding-bottom: 35px;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.footer-left {
  display: flex;
  align-items: center;
}
.footer-copyright {
  font-size: 12px;
  color: #787878;
  margin-left: 20px;
}
.footer-right {
  display: flex;
  align-items: center;
}
.footer-nav-list {
  display: flex;
  margin-right: 51px;
}
.footer-nav-item:not(:last-child) {
  margin-right: 30px;
}
.footer-social-list {
  display: flex;
  align-items: center;
}
.footer-social-item:not(:last-child) {
  margin-right: 31px;
}
.footer-social-icon {
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: transparent;
}
.footer-social-icon-twitter {
  width: 18px;
  height: 17px;
  background-image: url('../img/icon/Twitter.svg');
}
.footer-social-icon-linkedin {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  background-image: url('../img/icon/Linkedin.svg');
}
.footer-social-icon-email {
  width: 24px;
  height: 19px;
  background-image: url('../img/icon/Email.svg');
}
/**footer---------------------------------------------------------------------------------------------*/